{% extends 'faculty/base.html' %}
{% load static %}

{% block body %}
<title>Faculty | Dashboard</title>
<div class="instructions">
    <div class="welcome">Welcome</div><br>
    <p>Hello user, Welcome to Smart Examination System <br><br>
        While creating exam, make sure that students know exactly what you want them to do. <br>
        Be more explicit about your expectations than you may think is necessary. Otherwise, students may make assumptions 
        that run them into trouble. For example, they may assume, perhaps based on experiences in another course, that an 
        in-class exam is open book or that they can collaborate with classmates on a take-home exam, which you may not allow. 
    </p>
    <div class="welcome">Objects</div><br>
</div>
<div class="card-container">

    <div class="card">
        <h2><span class="span-card fas fa-users"></span>
            STUDENT</h2>
        <p> Total <br> Student's <br> {{stud}} </p>
    </div>
    <div class="card">
        <h2><span class="span-card fas fa-university"></span>
            DEPARTMENT</h2>
        <p> Total <br> Department's <br> {{dept}} </p>
    </div>
    <div class="card">
        <h2><span class="span-card fas fa-book"></span>
            SUBJECT</h2>
        <p> Total <br> Subject's <br> {{subj}} </p>
    </div>
    <div class="card">
        <h2><span class="span-card fas fa-pencil-alt"></span>
            EXAMINATION</h2>
        <p> Total <br> Exam's <br> {{exam}} </p>
    </div>
    <div class="card">
        <h2><span class="span-card fas fa-file-alt"></span>
            QUESTION</h2>
        <p> Total <br> Question's <br> {{ques}} </p>
    </div>
    <div class="card">
        <h2><span class="span-card fas fa-clipboard-list"></span>
            RESPONSE</h2>
        <p> Total <br> Response's <br> {{resp}} </p>
    </div>

</div>

{% endblock %}