{% extends 'faculty/base.html' %}
{% load static %}

{% block body %}

<div class="instructions">
    <div class="welcome">Welcome</div><br>
    <p>Hello user, Welcome to Smart Examination System <br><br>
        Please make sure that: <br>
        you have an active user account at UiB. Log on to webmail.uib.no, miside.uib.no or another UiB-service to
        see if your account is active.
        you remember the password for your UiB-account. If you have forgotten your password, you can change it at
        sebra.uib.no. <br>
        Written exam is conducted at the designated centre on the promulgated date and time. The question paper will 
        be bilingual (Hindi & English) and objective type. The question paper will comprise of four sections i.e. English, 
        Science, Mathematics and General Awareness and will be of 60 minutes duration. The candidates are required to pass 
        in all sections as well as in aggregate. The syllabus for each type of entry is available in the download section.
    </p>
    <div class="welcome">Objects</div><br>
</div>
<div class="card-container">

    <div class="card">
        <h2><span class="span-card fas fa-users"></span>
            STUDENT</h2>
        <p> Total <br> Student's <br> 0</p>
    </div>
    <div class="card">
        <h2><span class="span-card fas fa-university"></span>
            DEPARTMENT</h2>
        <p> Total <br> Department's <br> 0</p>
    </div>
    <div class="card">
        <h2><span class="span-card fas fa-book"></span>
            SUBJECT</h2>
        <p> Total <br> Subject's <br> 0</p>
    </div>
    <div class="card">
        <h2><span class="span-card fas fa-pencil-alt"></span>
            EXAMINATION</h2>
        <p> Total <br> Exam's <br> 0</p>
    </div>
    <div class="card">
        <h2><span class="span-card fas fa-file-alt"></span>
            QUESTION</h2>
        <p> Total <br> Question's <br> 0</p>
    </div>
    <div class="card">
        <h2><span class="span-card fas fa-clipboard-list"></span>
            RESPONSE</h2>
        <p> Total <br> Response's <br> 0</p>
    </div>

</div>

{% endblock %}