{% extends 'faculty/base.html' %}
{% load static %}

{% block body%}

<title>View Department</title>
<style>
    table, th, td {
        margin: 30px;
        font-size: 20px;
        font-family: 'Poppins';
        text-align: center;
        border: 1px solid white;
        border-collapse: collapse;
        border-radius: 6px;
    }
    
    th, td {
        padding: 15px;
        background-color: #96D4D4;
    }
    
    table tr td button {
        background: #04AA6D;
        font-size: 20px;
        padding: 10px;
        border-radius: 8px;
        color: white;
        cursor: pointer;
    }
    
    table tr td button:hover {
        filter: contrast(2.21);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
        scale: 1.09;
    }
    .viewexam {
        min-height: 852px;
    }
</style>

<div class="viewexam">
    <center>
    <table>
        <tr>
            <th>S.No.</th>
            <th>DEPARTMENT</th>
            <th>HEAD OF DEPARTMENT</th>
        </tr>
        {% for d in dept %}
        <tr>
            <td>{{d.id}}</td>
            <td>{{d.depname}}</td>
            <td>{{d.dephead}}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
</div>

<script>
</script>

{% endblock %}